## Este é um Projeto p/Demontrar uso dos Métodos Pandas para Análise de Dados

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

Importar biblioteca pandas e atribuir apelido pd

In [ ]:
import pandas as pd

carregar planilhas em dataframes

In [ ]:
df1 = pd.read_excel("/content/drive/MyDrive/Datasets/Aracaju.xlsx")
df2 = pd.read_excel("/content/drive/MyDrive/Datasets/Fortaleza.xlsx")
df3 = pd.read_excel("/content/drive/MyDrive/Datasets/Natal.xlsx")
df4 = pd.read_excel("/content/drive/MyDrive/Datasets/Recife.xlsx")
df5 = pd.read_excel("/content/drive/MyDrive/Datasets/Salvador.xlsx")

Concatenar todos os arquivos em um único data frame

In [ ]:
df = pd.concat([df1,df2,df3,df4,df5])

Exibir as 5 primeiras linhas

In [ ]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

Ver quantidade de linhas/colunas

In [ ]:
df.shape

(894, 5)

Exibir os tipos de dados

In [ ]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

Exibir Receita por ano

In [ ]:
df.groupby(df["Data"].dt.year) ["Vendas"].sum()

Data
2018    31456.67
2019    78158.28
Name: Vendas, dtype: float64